.git
.github
.cursor
.vercel
.turbo
.env
.env.*
node_modules
apps/api/node_modules
apps/admin/node_modules
apps/bale-web/node_modules
apps/telegram-web/node_modules
packages/ui/node_modules
apps/admin/.next
apps/bale-web/.next
apps/telegram-web/.next
**/.turbo
**/.next
**/dist
**/node_modules
**/.env
**/.env.*
!**/.env.example
*.log
.DS_Store
coverage
apps/telegram-web
apps/*/tsconfig.tsbuildinfo
packages/*/tsconfig.tsbuildinfo
README.md
