.git
.github
.cursor
.vercel
.turbo
**/.turbo
**/.next
**/dist
**/node_modules
**/.env
**/.env.*
!**/.env.example
*.log
.DS_Store
coverage
apps/telegram-web
apps/*/tsconfig.tsbuildinfo
packages/*/tsconfig.tsbuildinfo
README.md
